.parent {
    width: 500px;
    height: 500px;
    background-color: brown;
    position: relative;
}

.box {
    width: 120px;
    height: 120px;
    background-color: black;

    position: absolute;

}

/* .box2 {
    width: 100px;
    height: 100px;
    background-color: yellow;

    position: absolute;
    top: 600px;
    right: 200px;
} */